<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="logs/nlog-internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>

    <target name="iiasa" xsi:type="File" fileName="logs/${level}.log"
            
            layout="${longdate}|${logger}|${uppercase:${level}}|${message}${onexception:inner=${event-properties:item=ErrorMessage}${newline}${exception:format=toString}${newline}}"

            concurrentWrites="false"
            encoding="utf-8"
    />

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />

    <logger name="*" minlevel="Trace" writeTo="iiasa" />

  </rules>

</nlog>